.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.div-img-banner {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--color-black-fondo);
  background-image: url("../images/banner_pokemon.png");
}

.div-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ul-navbar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.ul-navbar li {
  margin-right: 10px;
}

.ul-navbar li:last-child {
  margin-right: 0;
}

.ul-navbar li a {
  color: white;
  text-decoration: none;
}

.div-buttons {
  display: flex;
  align-items: center;
}

.div-buttons button {
  margin-right: 5px;
}

.btn-links {
  border-radius: 0;
  width: auto;
  height: 33px;
}

.btn-mood {
  margin-left: 5px;
  position: relative;
  background-color: var(--color-red-btn);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  outline: none;
  transform: skewX(-20deg);
  transition: background-color 0.3s ease;
}
.btn-mood::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 15px solid var(--color-crystal-btn);
  transform: skewX(20deg);
}

.btn-mood::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid var(--color-yellow-btn);
  transform: skewX(20deg);
}

img[class^="img-navbar-items-"] {
  vertical-align: middle;
  margin-left: 5px;
  width: 1em;
}

i.img-navbar-items-login,
i.img-navbar-items-sign {
  margin-left: 5px;
}

@media screen and (min-width: 451px) and (max-width: 767px) {
  .div-header {
    padding: 0;
  }

  .div-buttons button {
    margin-right: 2px;
  }
  .btn-mood {
    margin-left: 2px;
    padding: 3px 5px;
  }

  .btn-mood::before {
    top: -5px;
    left: -7px;
    border-left: 7px solid transparent;
    border-right: 3px solid transparent;
  }
  .btn-mood::after {
    bottom: -5px;
    right: -5px;
    border-left: 5px solid transparent;
    border-right: 6px solid transparent;
    border-top: 14px solid var(--color-yellow-btn);
  }
}

@media screen and (max-width: 450px) {
  .div-navbar {
    display: block;
  }
  .div-header {
    padding: 2px;
  }

  .ul-navbar li {
    margin-right: 5px;
  }

  img[class^="img-navbar-items-"] {
    margin-left: 0;
    display: none;
  }

  .div-buttons button {
    margin-right: 2px;
  }
  .btn-mood {
    margin-left: 2px;
    padding: 2px 4px;
  }

  .btn-mood::before {
    top: -8px;
    left: -5px;
    border-left: 5px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 13px solid var(--color-crystal-btn);
  }
  .btn-mood::after {
    bottom: -9px;
    right: -6px;
    border-left: 4px solid transparent;
    border-right: 5px solid transparent;
    border-top: 13px solid var(--color-yellow-btn);
  }

  .search,
  .mood {
    width: 1.1rem;
  }

  i.img-navbar-items-login,
  i.img-navbar-items-sign {
    margin-left: 0;
    display: none;
  }

  span.btn-font.sign {
    content: Sign;
  }

  .links.ct {
    content: Contact;
  }
}
