/* bug, dragon, fairy, fire, ghost, earth, normal, psychic, steel, sinister,
electric, fight, flying, plant, ice, poison, rock, water */

button[class^="btn-table-"] {
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-family: "Permanent Marker", cursive;
  color: black;
}

.btn-table-bug {
  background-color: greenyellow;
}
.btn-table-dragon {
  background-color: rgb(21, 97, 160);
}
.btn-table-fairy {
  background-color: pink;
}
.btn-table-fire {
  background-color: orange;
}
.btn-table-ghost {
  background-color: violet;
}
.btn-table-ground {
  background-color: rgb(134, 132, 34);
}
.btn-table-normal {
  background-color: white;
}
.btn-table-psychic {
  background-color: rgb(205, 98, 209);
}
.btn-table-steel {
  background-color: grey;
}
.btn-table-dark {
  background-color: black;
  color: azure!important;
}
.btn-table-electric {
  background-color: yellow;
}
.btn-table-fighting {
  background-color: orangered;
}
.btn-table-flying {
  background-color: rgb(69, 122, 146);
}
.btn-table-grass {
  background-color: green;
}
.btn-table-ice {
  background-color: aquamarine;
}
.btn-table-poison {
  background-color: purple;
}
.btn-table-rock {
  background-color: brown;
}
.btn-table-water {
  background-color: aqua;
}

.div-search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vh;
  width: 80%;
}

.grid-types {
  grid-gap: 0.5vh;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.types-pokemon {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
}
.img-table-search {
  width: 100%;
  height: 100%;
}

.div-img-search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  grid-column: 3;
  width: 75%;
  height: 75%;
  margin: 5vh;
}

.container-types-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}