.App {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dex-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5vh;
}

.circle-button {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 12vh;
  height: 10vh;
  position: relative;
  background-color: var(--color-red-btn);
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  overflow: hidden;
}

.rombo-button {
  top: 1.5vh;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 7vh;
  height: 7vh;
  position: relative;
  background-color: var(--color-red-btn);
  color: white;
  cursor: pointer;
  outline: none;
  transform: rotate(45deg);
  border-radius: 10%;
  overflow: hidden;
}

.div-btn-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 10vh;
}

.btn-rombo-previous {
  grid-column: 2;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-rombo-next {
  grid-column: 3;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rombo-previous {
  transform: rotate(135deg);
  margin-right: 5px;
  margin-bottom: -3px;
}

.rombo-next {
  transform: rotate(315deg);
  margin-right: -5px;
  margin-bottom: 5px;
}

.romboid-button {
  margin-left: 1vh;
  position: relative;
  background-color: var(--color-yellow-btn);
  padding: 1vh 2vw;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transform: skewX(-20deg);
  transition: background-color 0.3s ease;
}

.romboid-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.6rem;
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 1rem solid var(--color-pink-btn);
  transform: skewX(20deg);
}

.romboid-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -0.6rem;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-top: 1.1rem solid var(--color-crystal-btn);
  transform: skewX(20deg);
}

.btn-font {
  font-family: "Permanent Marker", cursive;
  color: black;
}

.links {
  list-style: none;
  text-decoration: none;
}

button[class^="btn-submit-"] {
  width: 40%;
  background-color: aquamarine;
  font-family: "Permanent Marker", cursive;
  color: black;
  cursor: pointer;
}

.error {
  color: rgba(255, 0, 0, 0.666);
  font-size: smaller;
}

input,
select {
  width: 100%;
  padding: 0.4em;
  outline: none;
  border: 2px solid #333;
  background-color: transparent;
  transform: skewX(-30deg);
}

*[class^="error-input"],
select.error-input {
  border: 2px solid rgba(255, 0, 0, 0.666) !important;
}

select {
  cursor: pointer;
}

@media screen and (min-width: 451px) and (max-width: 767px) {
  .romboid-button {
    font-size: small;
  }

  .romboid-button::before {
    top: -8px;
    left: -6px;
    border-left: 5px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 15px solid var(--color-pink-btn);
    transform: skewX(15deg);
  }

  .romboid-button::after {
    bottom: -9px;
    right: -8px;
    border-left: 5px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid var(--color-crystal-btn);
  }

  .dex-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.3vh;
  }

  .div-btn-cards {
    height: 9vh;
  }

  .rombo-button {
    top: 2vh;
    width: 5.5vh;
    height: 5.5vh;
  }
}

@media screen and (max-width: 450px) {
  .romboid-button {
    font-size: x-small;
  }

  .romboid-button::before {
    top: -6px;
    left: -5px;
    border-left: 3px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 12px solid var(--color-pink-btn);
    transform: skewX(15deg);
  }

  .romboid-button::after {
    bottom: -8px;
    right: -6px;
    border-left: 3px solid transparent;
    border-right: 5px solid transparent;
    border-top: 13px solid var(--color-crystal-btn);
  }

  .div-img {
    height: 12vh;
  }

  .dex-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.3vh;
  }

  .div-btn-cards {
    height: 8vh;
  }

  .rombo-button {
    top: 2vh;
    width: 5vh;
    height: 5vh;
  }

  .contain-img-contact,
  .opening,
  .img-register,
  .contain-img-login {
    height: 50vh !important;
  }

  .title-contact,
  .title-login,
  .title-register {
    margin-top: 5px !important;
  }
}
