:root {
  --color-black-fondo: #161819;
  --color-red-btn: #fa0808;
  --color-crystal-btn: #2980b9;
  --color-yellow-btn:  #dbd834;
  --color-pink-btn: #d1086d;
  
}

body{
  background-color: var(--color-black-fondo);
  margin: 0;
  font-family: 'Caveat', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Sedgwick Ave Display', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
